@font-face {
  font-family: Grtsk Exa;
  src: url("./font/GrtskExa-Regular.ttf");
}
@font-face {
  font-family: Grtsk Exa-Bold;
  src: url("./font/GrtskExa-Bold.ttf");
}


body {


  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#body{
  font-family: "Grtsk Exa";
  max-width: 1444px;
  margin: 0 auto;
}

#footer{
  margin-top: 50px;
}

